<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<section class="static-container privacy">
<h1>${_("Privacy Policy")}</h1>
<p>
This Privacy Policy discloses the privacy practices for the HMX website. By using this website, you are consenting to our collection and use of information in accordance with this Privacy Policy. 
</p>

<h2>
INFORMATION WE GATHER
</h2>
<h3>
Your communications to us 
</h3>
<p>
If you request information or other resources or register or apply for a program on our website, we may ask for your name, email address, mailing address, phone number, position, affiliation, or other personal information. We may also ask you for other information at other times.  We use this information to respond to your inquiries, to customize your experience on the website, and to provide you with email notifications related to your interests. 
</p> 
<p>
When you send email or other communications to us, we may retain the email address and the communications in order to process your inquiries and respond to your requests.
You should also be aware that, when you voluntarily disclose personal information in comments, discussion groups, and the like, that information may be collected by others and may result in unsolicited messages from others.
</p> 


<h3>
Browsing information and cookies
</h3>
<p>
When you access this website, our servers automatically record information that your browser provides.  This may include, among other data, your Internet Protocol (IP) address, browser type, device identifiers and location, the date and time of your access, web pages visited, and files accessed.  We do not link IP addresses to any personally identifiable information. Logs of IP addresses are retained on a temporary basis, and then deleted from our system.
</p>
<p>
This website will attempt to store a small piece of data known as a “cookie” on your computer, which will be read each time you visit the site.  We may use cookies to establish continuity between related requests, to personalize the site to your preferences, to authenticate your log-in, and to analyze site traffic. Cookies do not themselves contain any personal information. You may choose to block cookies with your browser, but if you do, you may not be able to take advantage of all of this site’s features. 
</p>

<h2>
USE OF INFORMATION
</h2>
<p>
We use the information collected for the following purposes, in addition to those described above: tailoring the website to user needs and improving our content and service; generating data and reports about usage of the website and its content, including identifying how much of our audience comes from within the Harvard University network; supporting the functioning and security of the website; protecting our rights and safety and the rights and safety of others; and research. </p>
<p>

We may evaluate site usage by collecting statistics about the behavior of visitors to this website and analyzing user information and demographics, but only to generate aggregate statistical reports.  We may use third-party services to collect such information.  We may display this statistical information publicly or provide it to others.   Such reports will not disclose site usage by individual visitors or by IP addresses. 
</p>
<p>
User information may also be shared with third-party service providers as necessary to provide and improve our web services.
</p>
<p>
Any third parties who receive user information for these purposes are prohibited from using such information for any other purpose.
</p>
<p>
We also may provide your personally identifiable information to third parties when we believe that doing so is necessary or appropriate to: satisfy any applicable law, regulation, legal process or governmental request; detect, prevent or otherwise address fraud, or security or technical issues; or protect our rights and safety and the rights and safety of our users or others.
</p>

<h3>
Other websites and cookies
</h3>
<p>
This website may contain links to other websites. We are not responsible for the privacy practices or the content of such web sites.</p>
<p>
Cookies may be set by parties other than us. These “third-party cookies” may, for example, originate from websites such as YouTube, Twitter, Facebook, Google Plus or other social media services for we have implemented “plug-ins.” Since the cookie policies of these sites change over time, you should determine their policies by visiting the privacy policy pages of these sites directly.
</p>
<h3>
Information protection
</h3>
<p>
This site has security measures in place to help protect against the loss, misuse and alteration of the information under our control.  However, no such measures are 100% secure.
</p>
<h3>
Contacting this web site
</h3>
<p>
If you have any questions about this privacy statement, the practices of this site, or your dealings with this site, you can contact
<a href="mailto:onlinelearning@hms.harvard.edu">onlinelearning@hms.harvard.edu</a>.
</p>
<h3>
Changes to this policy 
</h3>
<p>
We may change this Privacy Policy from time to time.  If we change the policy, we will post the modified policy on this page.  
</p>
<br>

<p>
<b>Effective Date:</b> June 1, 2015.
</p>
</section>
